# Environments
.env
.env.local
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
tests/__pycache__/test_calc.cpython-311-pytest-7.4.4.pyc
tests/__pycache__/test_main.cpython-311-pytest-7.4.4.pyc
tests/__pycache__/test_say.cpython-311-pytest-7.4.4.pyc
